<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="keywords" content="librarie, Libmone, carti, reduceri, sale, bestseller, fiction, fantasy">
        <meta name="description" content="Librăria Libmone vă oferă cărți de la autorii preferații la cele mai bune prețuri, cu livrare rapida și reduceri din plin!">
        <title>Libmone - librărie online</title>
        <%- include("../fragmente/head") %>
    </head>

    <body>
      
        <%- include("../fragmente/header") %>

        <main>
            <div id="grid-pagina">
                <section id="welcome">
                    <div id="intro">
                        <h2><i class="fas fa-fan fa-spin"></i>Bine ați venit!<i class="fas fa-fan fa-spin"></i></h2>
                        <p> Labirintul din Nori <br>
                        <q>O Incursiune în Dimensiuni<br>
                            O Ascensiune spre Firmament<br>
                            Nu există Început<br>
                            Și nici Sfârșit<br>
                            Intri pe unde Poftești<br>
                            Pleci când Dorești<br>
                            Și nicicând nu te Prăbușești</q><br>
                         <i class="fas fa-book-open"></i> Circul Nopții de Erin Morgenstern</p>
    
                    </div>

                    <hr>

                    <p>Site-ul librăriei Libmone vă așteaptă cu o multitudine de reduceri si o gamă variată de produse, cum ar fi carți:</p>
                    <ul>
                        <li>Fantasy</li>
                        <li>Romance</li>
                        <li>Science fiction</li>
                        <li>Mystery</li>
                    </ul>
                </section>
                <figure id="sale">
                    <img src="./resurse/pictures/playholder1.jpg" alt="banner reduceri">
                    <figcaption>Reduceri și promoții</figcaption>
                </figure>
                <figure id="transport">
                    <img src="./resurse/pictures/playholder2.jpg" alt="banner reduceri">
                    <figcaption>Transport gratuit</figcaption>
                </figure>


                <section id="galerie-statica">
                    <h2>Galerie</h2>
                    <div id="grid-galerie">
                        <% for (let imag of locals.pictures){  %>
                        <figure>
                            <picture >
                                <source srcset="/<%-imag.mic%>" media="(max-width:700px)"/>
                                <img id="imagine" src="/<%-imag.mare%>" alt="<%-imag.alt%>" title="<%-imag.text%>" />
                            </picture>
                            <figcaption><%-imag.titlu%></figcaption>

                        </figure>
                        <% } %>

                    </div>
                </section>

                <section id="sectiune-galerie-animata">
                    <h2>Galerie</h2>
                    <div id="galerie-animata" class="galerie-a">
                        <% for (let imag of locals.picturesanim){  %>
                        <figure>
                            <picture>
                                <!-- il ia pe primul care se potriveste cu query-ul din media-->
                                <source srcset="/<%-imag.mic%>" media="(max-width:00px)"/>
                                <img src="/<%-imag.mare%>" alt="text"/>
                            </picture>
                            <figcaption><%-imag.titlu%></figcaption>
                        </figure>
                        <% } %>
                    </div>
                </section>

                <section id="bestsellers">
                    <h2>Cărți populare!</h2>
                    <div class="taburi-iframe">
                    <div id="tabs">
                        <a href="https://www.youtube.com/embed/KDYI3JWP2M4" target="unboxing">Percy Jackson and the Olympians</a><br>     
                        <a href="https://www.youtube.com/embed/XzwQFnBLN_0" target="unboxing">Tokyo Ghoul Artbook</a><br>
                    </div>      
                    <iframe name="unboxing" width="560" height="315" src="https://www.youtube.com/embed/KDYI3JWP2M4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                    </div>
                    
                </section>

                <!--
                <section id="sale">
                    <h2>Reduceri și promoții</h2>
                    <article>
                        <h3>Reducere mare la carțile fantasy!</h3>
                        <p>În această săptămână vă aducem o ofertă de nerefuzat: 25% reducere la secțiunea de cărti fantasy!</p>
                        <p>Folosiți cuponul <b>"fantasy25"</b> pentru a profita de această promoție!</p>
                        <p><strong>Termen de valabilitate: 1 mar - 8 mar 2021</strong></p>
                    </article>
                    <article>
                        <h3>Cumperi 2 primesti una gratis!</h3>
                        <p>În această lună vă aducem o ofertă de nerefuzat: dacă cumperi trei cărti de la editura Penguin, pe cea cu prețul cel mai mic o primești gratis!</p>
                        <p>Folosiți cuponul <b>"penguin3"</b> pentru a profita de această promoție!</p>
                        <p><strong>Termen de valabilitate: 1 mar - 31 mar 2021</strong></p>
                    </article>
                </section>
                <section id="transport">
                    <h2>Transport gratuit!</h2>
                    <p>Comenzile de peste 150 de lei au parte de transport gratuit. în rest, acesta este doar 14,99 lei!</p>
                </section>
                <section id="prod">
                    <h2>Cărțile noastre</h2>
                    <a href="https://www.youtube.com/embed/KDYI3JWP2M4" target="unboxing">Video 1</a><br>     
                    <a href="https://www.youtube.com/embed/XzwQFnBLN_0" target="unboxing">Video 2</a><br>
                    <iframe name="unboxing" width="560" height="315" src="https://www.youtube.com/embed/KDYI3JWP2M4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                </section>
                <section id="payment">
                    <h2>Livrare și plată</h2>
                    <details>
                        <summary>Împachetare</summary>
                        <p>Librăria noastră vă oferă un serviciu de împachetare gratuit. Astfel, dacă dorești să fac un cadou unei persoane speciale, precizează acest lucru în comandă.</p>
                    </details>
                    <details>
                        <summary>Transport</summary>
                        <p>Livrarea se face cu Fan Courier, iar aceasta este gratuită la comenzi de peste 150 de lei, în rest fiind doar 14,99 lei!</p>
                        <p>Comenzile noastre sunt rapide, dar dacă te aflii intr-o criză de timp, poți apela la serviciu de livrare in 24 de ore!</p>
                        <p>Taxa acestui serviciu este de <b>15 lei</b>, indiferent de suma totală a comenzii.</p>
                    </details>
                    <details>
                        <summary>Ridicare produse în librărie</summary>
                        <p>De anul acesta poți ridica coletul direct din librărie! Ai parte de ofertele exclusive de pe site fără a plătii transportul.</p>
                    </details>  
                    <details>
                        <summary>Plata</summary>
                        <p>Poți plătii cu cardul de credit pe site sau la primirea coletului!</p>
                    </details>    
                </section>
                <section id="contact">
                    <h2>Contact</h2>
                    <p>Librăria noastră este mândre să aibe un personal prietenos, disponibil să rezolve orice probleme pot aparea, sau să raspunda la orice întrebari.</p>
                    <details>
                        <summary>Magazinul fizic</summary>
                        <a href="https://goo.gl/maps/aWvz8BfhVePabxLo9" target="blank">Locație</a>
                        <p>Program:</p>
                        <ul>
                            <li>Luni: 9:00 - 21:00</li>
                            <li>Marți: 9:00 - 21:00</li>
                            <li>Miercuri: 10:00 - 22:00</li>
                            <li>Joi: 9:00 - 21:00</li>
                            <li>Vineri: 9:00 - 21:00</li>
                            <li>Sâmbătă: 11:00 - 20:00</li>
                        </ul>
                        <strong>Programul poate suferii unele schimbări din cauza sărbătorilor sau a situațiilor neprevazute.</strong>
                    </details>
                    <details>
                        <summary>Magazinul online</summary>
                        <p>Asistență telefonică:</p>
                        <a href="tel:0799999999">Număr de telefon: 0799999999</a>
                        <ul>
                            <li>Luni - Vineri: 9:00 - 18:00</li>
                            <li>Sâmbătă - Duminică: 12:00 - 18:00</li>
                        </ul>
                        <p>Asistență prin email:</p>
                        <a href="mailto:libmone@gmail.com">Adresă de email: libmone@gmail.com</a>
                        <p>Asistență prin social media:</p>
                        <a href="https://twitter.com/libmone">Contul nostru de Twitter: @libmone</a>
                        <p></p>
                        <a href="https://www.instagram.com/libmone_library">Contul nostru de Instagram: @libmone_library</a>
                    </details>
                </section> -->
                <section id="tabel">
                    <h2>Orar</h2>
                    <div id="tabel-scroll">
                        <table id="tab-orar">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Zi</th>
                                    <th>Interval</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>Luni</td>
                                    <td>9:00 - 21:00</td>
                                <tr>
                                    <td></td>
                                    <td>Marți</td>
                                    <td>9:00 - 21:00</td>        
                                <tr>
                                    <td></td>
                                    <td>Miercuri</td>
                                    <td>10:00 - 22:00</td>
                                <tr>
                                    <td></td>
                                    <td>Joi</td>
                                    <td>9:00 - 21:00</td>
                                <tr>
                                    <td></td>
                                    <td>Vineri</td>
                                    <td>9:00 - 21:00</td>
                                <tr>
                                    <td></td>
                                    <td>Sâmbătă</td>
                                    <td>11:00 - 20:00</td>
                                <tr>
                                    <td></td>
                                    <td>Duminică</td>
                                    <td>închis</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                </tr>
                            </tfoot>
                        </table> 
                    </div>
                </section>
                <section id="calendar">
                    <h2>Calendar</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a sapien ac tortor auctor euismod a in ex. Ut sagittis accumsan odio id elementum. Donec dui mi, sodales nec ex et, elementum convallis purus. Suspendisse sit amet nulla tincidunt, gravida ipsum non, posuere neque. Nulla eget urna fermentum, viverra nunc ac, pharetra ante. Ut lobortis libero ut est iaculis, in luctus mauris tincidunt. Integer tempus pellentesque lacus, non varius massa rutrum sit amet. Cras molestie vel arcu ut bibendum. Nulla facilisi.</p>
                </section>
                <section id="anunturi">
                    <h2>Anunturi</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a sapien ac tortor auctor euismod a in ex. Ut sagittis accumsan odio id elementum. Donec dui mi, sodales nec ex et, elementum convallis purus. Suspendisse sit amet nulla tincidunt, gravida ipsum non, posuere neque. Nulla eget urna fermentum, viverra nunc ac, pharetra ante. Ut lobortis libero ut est iaculis, in luctus mauris tincidunt. Integer tempus pellentesque lacus, non varius massa rutrum sit amet. Cras molestie vel arcu ut bibendum. Nulla facilisi.</p>
                </section>
                <section id="online-users">
                    <h2>Utilizatori online</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a sapien ac tortor auctor euismod a in ex. Ut sagittis accumsan odio id elementum. Donec dui mi, sodales nec ex et, elementum convallis purus. Suspendisse sit amet nulla tincidunt, gravida ipsum non, posuere neque. Nulla eget urna fermentum, viverra nunc ac, pharetra ante. Ut lobortis libero ut est iaculis, in luctus mauris tincidunt. Integer tempus pellentesque lacus, non varius massa rutrum sit amet. Cras molestie vel arcu ut bibendum. Nulla facilisi.</p>
                </section>
                <section id="stats-users">
                    <h2>Date despre utilizatori si statistici</h2>
                    <p> <%- locals.ip %> </p>
                </section>
                <section id="server">
                    <h2>Date despre site si server</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a sapien ac tortor auctor euismod a in ex. Ut sagittis accumsan odio id elementum. Donec dui mi, sodales nec ex et, elementum convallis purus. Suspendisse sit amet nulla tincidunt, gravida ipsum non, posuere neque. Nulla eget urna fermentum, viverra nunc ac, pharetra ante. Ut lobortis libero ut est iaculis, in luctus mauris tincidunt. Integer tempus pellentesque lacus, non varius massa rutrum sit amet. Cras molestie vel arcu ut bibendum. Nulla facilisi.</p>
                </section>

            </div>


            <div id="container-video">
                <img class="farfurie" src="resurse/pictures/farfurie-flori-albastre.png" alt="farfurie">
                <div id="centrare-video">
                    <div id="clip-video">
                        <div id="stil-video">
                            <video width="320" height="240" poster="./resurse/pictures/carti.jpeg" preload="none" playsinline loop muted controls captions>
                                <source src="resurse/video/books.mp4" type="video/mp4">
                                <source src="resurse/video/books.ogv" type="video/ogv">
                                <track default src="data:application/octet-stream;base64,V0VCVlRUIC0gQ2FydGkKCjAwOjAwLjAwMCAtLT4gMDA6MDMuMDAwIGxpbmU6MApMaWJyYXJpYSBub2FzdHJhIG9mZXJhCgowMDowMS4wMDAgLS0+IDAwOjAzLjAwMCBsaW5lOiAtMQpvIG11bHRpbWUgZGUgY2FydGkhCgowMDowNS4wMDAgLS0+IDAwOjA3LjAwMCAKTyBtdWx0aXR1ZGluZSBkZSBnZW51cmkgc2kgYXV0b3JpIQoKMDA6MTAuMDAwIC0tPiAwMDoxNC4wMDAgCkJlc3RzZWxsZXJpIGRpbiB0b2F0ZSB0YXJpbGUhCgowMDoxNC41MDAgLS0+IDAwOjE5LjAwMCAKVG90dWwgcGVudHJ1IGl1Yml0b3JpaSBkZSBjYXJ0aSEKCg==" kind="captions" srclang="ro" label="romana">
                                <track src="data:application/octet-stream;base64,V0VCVlRUIC0gQm9va3MNCg0KMDA6MDAuMDAwIC0tPiAwMDowMy4wMDAgbGluZTowDQpPdXIgbGlicmFyeSBvZmZlcnMNCg0KMDA6MDAuMDAwIC0tPiAwMDowMy4wMDAgbGluZTogLTENCmEgbG90IG9mIGJvb2tzIQ0KDQowMDowNS4wMDAgLS0+IDAwOjA3LjAwMA0KQSBidW5jaCBvZiBnZW5yZXMgYW5kIGF1dGhvcnMhDQoNCjAwOjEwLjAwMCAtLT4gMDA6MTQuMDAwDQpCZXN0c2VsbGVycyBmcm9tIGFsbCBjb3VudHJpZXMhDQoNCjAwOjE0LjUwMCAtLT4gMDA6MTkuMDAwDQpFdmVyeXRoaW5nIGZvciBib29rIGxvdmVycyENCg0K" kind="captions" srclang="en" label="engleza">
                            </video>
                        </div>
                    </div>
                </div>
            </div>


            <button onclick="topFunction()" id="myBtn" title="înapoi sus"><i class="fas fa-arrow-up"></i></button>
          
            <p id="watermark"></p>

        </main>
        <div id="banner">
            <p><i class="fas fa-exclamation-circle"></i> Disclaimer:</p>
            <p>Acesta este un proiect școlar.</p>
        </div>

        <%- include("../fragmente/footer") %>

    </body>
</html>